In [19]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime

fake = Faker('ko_KR')

# 수도권 지역 데이터
locations = [
    ('종로구', '청운동', 37.5866, 126.9697),
    ('종로구', '혜화동', 37.5823, 127.0018),
    ('종로구', '창신동', 37.5723, 127.0150),
    ('종로구', '사직동', 37.5795, 126.9701),
    ('중구', '소공동', 37.5641, 126.9753),
    ('중구', '명동', 37.5634, 126.9862),
    ('중구', '을지로동', 37.5665, 126.9928),
    ('중구', '신당동', 37.5610, 127.0182),
    ('용산구', '이태원동', 37.5347, 126.9947),
    ('용산구', '용산동2가', 37.5381, 126.9650),
    ('용산구', '남영동', 37.5423, 126.9732),
    ('성동구', '성수동1가', 37.5477, 127.0422),
    ('성동구', '행당동', 37.5583, 127.0298),
    ('성동구', '금호동1가', 37.5497, 127.0197),
    ('광진구', '구의동', 37.5374, 127.0850),
    ('광진구', '자양동', 37.5322, 127.0745),
    ('광진구', '화양동', 37.5454, 127.0676),
    ('동대문구', '휘경동', 37.5945, 127.0663),
    ('동대문구', '장안동', 37.5746, 127.0727),
    ('동대문구', '용두동', 37.5749, 127.0389),
    ('중랑구', '면목동', 37.5873, 127.0887),
    ('중랑구', '상봉동', 37.5963, 127.0862),
    ('중랑구', '묵동', 37.6121, 127.0761),
    ('성북구', '돈암동', 37.5891, 127.0166),
    ('성북구', '정릉동', 37.6063, 127.0106),
    ('성북구', '길음동', 37.6075, 127.0233),
    ('강북구', '수유동', 37.6394, 127.0251),
    ('강북구', '미아동', 37.6267, 127.0257),
    ('강북구', '번동', 37.6366, 127.0341),
    ('도봉구', '방학동', 37.6659, 127.0448),
    ('도봉구', '쌍문동', 37.6486, 127.0347),
    ('도봉구', '창동', 37.6543, 127.0479),
    ('노원구', '월계동', 37.6311, 127.0587),
    ('노원구', '중계동', 37.6481, 127),
    ('노원구', '하계동', 37.6397, 127.0665),
    ('노원구', '월계동', 37.6261, 127.0659),
    ('은평구', '녹번동', 37.6009, 126.9351),
    ('은평구', '불광동', 37.6105, 126.9303),
    ('은평구', '진관동', 37.6430, 126.9184),
    ('서대문구', '홍제동', 37.5892, 126.9441),
    ('서대문구', '연희동', 37.5682, 126.9315),
    ('서대문구', '북가좌동', 37.5815, 126.9134),
    ('마포구', '상암동', 37.5796, 126.8903),
    ('마포구', '연남동', 37.5588, 126.9259),
    ('마포구', '망원동', 37.5551, 126.9107),
    ('양천구', '목동', 37.5442, 126.8667),
    ('양천구', '신정동', 37.5206, 126.8563),
    ('양천구', '신월동', 37.5302, 126.8348),
    ('강서구', '화곡동', 37.5410, 126.8370),
    ('강서구', '가양동', 37.5618, 126.8545),
    ('강서구', '등촌동', 37.5585, 126.8627),
    ('구로구', '구로동', 37.5037, 126.8895),
    ('구로구', '개봉동', 37.4972, 126.8588),
    ('구로구', '오류동', 37.4947, 126.8441),
    ('금천구', '독산동', 37.4665, 126.9025),
    ('금천구', '가산동', 37.4772, 126.8868),
    ('금천구', '시흥동', 37.4494, 126.9034),
    ('영등포구', '여의도동', 37.5245, 126.9275),
    ('영등포구', '신길동', 37.5079, 126.9172),
    ('영등포구', '당산동', 37.5341, 126.9021),
    ('동작구', '노량진동', 37.5132, 126.9409),
    ('동작구', '사당동', 37.4792, 126.9808),
    ('동작구', '흑석동', 37.5084, 126.9638),
    ('관악구', '봉천동', 37.4824, 126.9521),
    ('관악구', '신림동', 37.4846, 126.9304),
    ('관악구', '난곡동', 37.4751, 126.9205),
    ('서초구', '서초동', 37.4837, 127.0324),
    ('서초구', '방배동', 37.4845, 126.9977),
    ('서초구', '잠원동', 37.5120, 127.0107),
    ('강남구', '삼성동', 37.5145, 127.0593),
    ('강남구', '논현동', 37.5101, 127.0359),
    ('강남구', '역삼동', 37.4987, 127.0367),
    ('송파구', '잠실동', 37.5117, 127.0842),
    ('송파구', '방이동', 37.5140, 127.1251),
    ('송파구', '문정동', 37.4890, 127.1215),
    ('강동구', '천호동', 37.5459, 127.1428),
    ('강동구', '둔촌동', 37.5266, 127.1365),
    ('강동구', '암사동', 37.5506, 127.1319),
    ('종로구', '무악동', 37.5775, 126.9573),
    ('중구', '약수동', 37.5549, 127.0109),
    ('용산구', '한남동', 37.5345, 127.0005),
    ('성동구', '왕십리동', 37.5612, 127.0376),
    ('광진구', '광장동', 37.5450, 127.1040),
    ('동대문구', '청량리동', 37.5802, 127.0466),
    ('중랑구', '신내동', 37.6126, 127.1035),
    ('성북구', '석관동', 37.6125, 127.0611),
    ('강북구', '수유1동', 37.6399, 127.0190),
    ('도봉구', '쌍문1동', 37.6513, 127.0341),
    ('노원구', '공릉동', 37.6251, 127.0726),
    ('은평구', '갈현동', 37.6185, 126.9162),
    ('서대문구', '남가좌동', 37.5738, 126.9223),
    ('마포구', '도화동', 37.5457, 126.9450),
    ('양천구', '목5동', 37.5483, 126.8664),
    ('강서구', '방화동', 37.5777, 126.8125),
    ('구로구', '고척동', 37.5038, 126.8581),
    ('금천구', '독산1동', 37.4683, 126.8990),
    ('동작구', '동작동', 37.5035, 126.9510),
    ('강남구', '도곡동', 37.4907, 127.0558)
]

to_airport_data = []

for i in range(3000):
    user_id = i+1
    area, subarea, latitude, longitude = random.choice(locations)
    departure_address = f"{area} {subarea}"
    date_time = fake.date_time_between(start_date=datetime(2024, 12, 1), end_date=datetime(2025, 2, 28))
    num_passenger = random.randint(1, 3)
    
    if num_passenger == 1:
        num_luggage = random.randint(1,2)
    elif num_passenger == 2:
        num_luggage = random.randint(2,3)
    elif num_passenger == 3:
        num_luggage = random.randint(3,4)

    to_airport_data.append({
        'user_id': user_id,
        'departure_address': departure_address,
        'latitude': latitude,
        'longitude': longitude,
        'date_time': date_time,
        'num_passenger': num_passenger,
        'num_luggage': num_luggage
    })

# DataFrame 생성 및 저장
to_airport_data = pd.DataFrame(to_airport_data)
to_airport_data

,user_id,departure_address,latitude,longitude,date_time,num_passenger,num_luggage
0,1,광진구 광장동,37.5450,127.1040,2025-01-17 07:36:16.211375,1,1
1,2,영등포구 당산동,37.5341,126.9021,2024-12-21 11:52:56.280572,1,1
2,3,강남구 역삼동,37.4987,127.0367,2024-12-17 05:23:42.187293,1,2
3,4,노원구 하계동,37.6397,127.0665,2025-02-07 23:44:03.942527,1,1
4,5,중랑구 신내동,37.6126,127.1035,2024-12-31 14:50:05.025408,1,2
...,...,...,...,...,...,...,...
2995,2996,도봉구 쌍문1동,37.6513,127.0341,2024-12-25 13:40:21.696589,3,4
2996,2997,마포구 망원동,37.5551,126.9107,2025-01-03 20:20:58.405903,3,3
2997,2998,강남구 역삼동,37.4987,127.0367,2025-01-30 09:41:26.111446,2,3
2998,2999,중랑구 면목동,37.5873,127.0887,2024-12-21 17:46:40.315913,2,2
2999,3000,송파구 방이동,37.5140,127.1251,2024-12-08 21:55:39.998154,1,1

In [20]:
to_airport_data.to_csv('to_airport_data.csv', index=False)

In [21]:
to_home_data = []

for i in range(2000):
    user_id = i+1
    area, subarea, latitude, longitude = random.choice(locations)
    arrival_address = f"{area} {subarea}"
    date_time = fake.date_time_between(start_date=datetime(2024, 12, 1), end_date=datetime(2025, 2, 28))
    num_passenger = random.randint(1, 3)
    
    if num_passenger == 1:
        num_luggage = random.randint(1,2)
    elif num_passenger == 2:
        num_luggage = random.randint(2,3)
    elif num_passenger == 3:
        num_luggage = random.randint(3,4)

    to_home_data.append({
        'user_id': user_id,
        'arrival_address': arrival_address,
        'latitude': latitude,
        'longitude': longitude,
        'date_time': date_time,
        'num_passenger': num_passenger,
        'num_luggage': num_luggage
    })

# DataFrame 생성 및 저장
to_home_data = pd.DataFrame(to_home_data)
to_home_data

,user_id,arrival_address,latitude,longitude,date_time,num_passenger,num_luggage
0,1,구로구 고척동,37.5038,126.8581,2024-12-21 09:58:37.623408,1,1
1,2,마포구 망원동,37.5551,126.9107,2024-12-27 20:14:57.014868,3,4
2,3,강서구 가양동,37.5618,126.8545,2025-02-16 21:09:36.359490,2,3
3,4,은평구 불광동,37.6105,126.9303,2024-12-02 08:09:42.504325,2,3
4,5,강북구 수유1동,37.6399,127.0190,2025-01-19 15:49:03.095263,1,2
...,...,...,...,...,...,...,...
1995,1996,광진구 화양동,37.5454,127.0676,2024-12-26 23:24:02.108066,2,3
1996,1997,성북구 돈암동,37.5891,127.0166,2024-12-08 15:46:21.125824,3,4
1997,1998,영등포구 당산동,37.5341,126.9021,2025-02-21 02:56:46.295146,1,2
1998,1999,송파구 문정동,37.4890,127.1215,2024-12-26 19:25:57.168638,3,4
1999,2000,중구 명동,37.5634,126.9862,2024-12-12 14:11:58.038261,1,1

In [22]:
to_home_data.to_csv('to_home_data.csv', index=False)